<h1>Edit - Delete</h2>


<p>
	<%= @product.name %><br/>
	<%= @product.description %><br/>
	<%= @product.formatted_price %><br/>
</p>

<%= link_to('Edit Product', edit_product_path(@product.id)) %> | <%= link_to('Delete This Product', @product, :confirm=>"Are you sure you want to delete this product?", :method=>:delete) %>


<% if current_user %>
	<h4>Write a review...</h4>

	<%= form_for([@product, @review], remote: true) do |f| %>
		<div id="review-form-errors">
			<% if @review.errors.any? %>
				<%= render 'reviews/errors' %>
			<% end %>
		</div>
	
	
		<div class="field">
			<%= f.label :comment %><br/>
			<%= f.text_area :comment %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>

	<p><b>Reviews for:</b> <%= @product.name %></p>

 	<div id="reviews-list">
		<% @product.reviews.each do |review| %>
			<% if review.id.present? %>
				<%= render partial: 'reviews/review', locals: {review: review} %>
			<% end %>
		<% end %>
	</div>

<% end %>

